.container {
    margin: auto;
    padding: 10px;
    text-align: center;
}

table {
    padding-top: 10px;
    margin: 10px auto;
    border: 1px solid #000000;
    width: '100%'
}

tr,
td {
    padding: 10px auto;
    border: 1px solid #000000
}

.update-button {
    background-color: yellow;
    text-decoration: none;
    color: #FFFF;
    margin: 10px;
    padding: 2px;
}

.delete-button {
    background-color: red;
    text-decoration: none;
    color: #FFFF;
    margin: 10px;
    padding: 2px;
}